.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 40px auto;
    background-color: black;
    padding: 20px 0;
}

.paginationNumbersBloc {
    display: inherit;
    width: 40vw;
    justify-content: space-evenly;
}

.arrows {
    padding: 6px 12px;
}

.pagination .arrows,
.pageNumber {
    padding: 6px 12px;
    background-color: black;
    color: white;
}

.pagination .arrows:hover,
.pagination .pageNumber:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.pageFocus {
    background-color: red;
    color: white;
    padding: 6px 12px;
    font-weight: bold;
}

.linkDisabled {
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    color: lightgrey;
    background-color: none;
}
